/*Primera Fila*/
tr#teal{
    color: teal;
}

td.f-rojo{
    
    background-color: red;
}
td.f-verde{
    
    background-color: green;
}
td.f-azul{
    
    background-color: blue;
}
/*Segunda Fila*/

tr#rojo{
    color: red;
}

tr#azul{
    color: blue;
}
tr#naranja{
    color: orange;
}
tr#morado{
    color: purple;
}
tr#olive{
    color: olive;
}
tr#fuscia{
    color: fuchsia;
}
tr#verde{
    color: green;
}