*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
    background: black;
    border: 4px solid black;
}

.c-1{
    background-color: aliceblue;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    
}
