table {
    border-collapse: collapse;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    }

    td {
    border: 1px solid black;
    padding: 5px 8px;
    text-align: center;
    }

td.azul{
    background-color:deepskyblue;
}

td.naranja{
    background-color:coral;
    font-weight: bold;
}

tr.naranja{
    background-color: coral;
    font-weight: bold;
}

td.verde{
    background-color: chartreuse;
}



