.contenedor1{
    background-color: aquamarine;
    padding-top: 30px;
    padding-bottom: 80px;
    padding: 50px;
    padding: 40px;
}

.contenedor2{
    background-color:seagreen;
    padding-top: 30px;
    padding-bottom: 80px;
    padding: 50px;
    padding: 40px;
}